.spinner {
    display: flex;
    justify-content: center;
    margin: 10rem;
    color: rgb(255, 255, 255);  
}

.whileSpinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
